In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/rs_fr_list.csv')
df.head()

,id,created_at,location,description,username,name,verified,followers_count,following_count,tweet_count,listed_count
0,60637364,2009-07-27 16:16:11+00:00,,Husband+Dad+Writer+Cyclist+Citizen,KaplanJonathanE,Jonathan Kaplan,False,1013,864,220,26
1,373160054,2011-09-14 02:59:38+00:00,,NaN,kris_hanon,Kris Hanon,False,105,468,518,0
2,1489298184534908930,2022-02-03 18:02:43+00:00,,"Husband, father, cyclist, student @NCSUgeospat...",AWalkerMorrison,Andrew Morrison,False,35,1445,43,0
3,1523839034723872776,2022-05-10 01:35:39+00:00,,Just a guy nothin fancy - A little bit of this...,Pedalpusher2941,Kyle,False,18,277,336,0
4,49985899,2009-06-23 14:15:03+00:00,,"Dad, husband, paramedic, adaptive cyclist.",wykydgt,Daniel Williams,False,212,561,337,3

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               150 non-null    int64
 1   created_at       150 non-null    object
 2   location         150 non-null    object
 3   description      123 non-null    object
 4   username         150 non-null    object
 5   name             150 non-null    object
 6   verified         150 non-null    bool
 7   followers_count  150 non-null    int64
 8   following_count  150 non-null    int64
 9   tweet_count      150 non-null    int64
 10  listed_count     150 non-null    int64
dtypes: bool(1), int64(5), object(5)
memory usage: 12.0+ KB

In [5]:
df.describe()

,id,followers_count,following_count,tweet_count,listed_count
count,1.500000e+02,150.000000,150.000000,150.000000,150.000000
mean,2.959003e+17,932.713333,1155.906667,5463.166667,27.093333
std,5.117728e+17,3024.329485,1302.982981,10861.180443,102.344290
min,6.527892e+06,0.000000,20.000000,0.000000,0.000000
25%,3.730083e+07,61.750000,322.000000,222.000000,0.000000
50%,3.586869e+08,183.000000,718.000000,1444.500000,3.000000
75%,7.473208e+17,452.000000,1482.500000,5173.250000,11.000000
max,1.529075e+18,24687.000000,9407.000000,75079.000000,981.000000

In [6]:
df.sort_values([ 'tweet_count','followers_count'], ascending =False)

,id,created_at,location,description,username,name,verified,followers_count,following_count,tweet_count,listed_count
60,20662440,2009-02-12 08:36:48+00:00,,"Bike nomad, boycotting fossil-fuels, working o...",philsturgeon,Tree Sturgeon üö¥üî•üåç,False,22769,3254,75079,981
146,8931352,2007-09-17 14:38:55+00:00,,"contumacious, Madman.",SuaveRepublique,Jamie,False,2585,4817,61886,58
74,11013712,2007-12-10 09:18:35+00:00,,All things #cycling,dfitzger,David Fitzgerald,False,1202,1350,45550,113
63,14608802,2008-05-01 01:33:17+00:00,,Senior Director of Education Partnerships & Le...,jasonklein,Jason Klein,False,3060,4999,38878,221
27,234540672,2011-01-05 22:33:41+00:00,,"Vermonter in NC, retired lowest-league soccer ...",keylor_halbur,Keylor Halbur,False,252,842,35033,11
...,...,...,...,...,...,...,...,...,...,...,...
48,1418283365577461764,2021-07-22 18:55:59+00:00,,"Fitness, Fellowship, & Faith coming to Morgant...",f3morganton,f3morganton,False,24,78,2,0
49,1416820910712135682,2021-07-18 18:03:36+00:00,,NaN,CyclingDsrpt,DSRPT cycling,False,0,46,1,0
72,1231747076498841601,2020-02-24 01:06:22+00:00,,Married with kids. Ride @trekbikes running @sh...,nccyclingsurge1,nccyclingsurgeon,False,0,21,1,0
6,3307108069,2015-08-05 15:40:03+00:00,,NaN,bike_bliss,Anna Ladas,False,1,32,0,0
44,1462051017999233030,2021-11-20 13:32:06+00:00,,Brew Man,jesse_prall_76,Jesse Prall,False,0,20,0,0

In [7]:
cols = ['id','description','username']
df[cols]

key_words = ['bike','cycle']

In [8]:
word_list = list(df['description'])

In [22]:
import regex as re
import emoji
def give_emoji_free_text(text):
    allchars = [str for str in text.decode('utf-8')]
    emoji_list = [c for c in allchars if c in emoji.UNICODE_EMOJI]
    clean_text = ' '.join([str for str in text.decode('utf-8').split() if not any(i in str for i in emoji_list)])
    return clean_text

def deEmojify(inputString):
    return inputString.encode('ascii', 'ignore').decode('ascii')


for l in word_list:
    #strip symbols
    l = re.sub(r'[^\w]', ' ', str(l))
    l= deEmojify(l)
    #lowercase
    l = l.lower()

word_list

['Husband+Dad+Writer+Cyclist+Citizen',
 nan,
 'Husband, father, cyclist, student @NCSUgeospatial, bike mechanic @rei',
 'Just a guy nothin fancy - A little bit of this and a little bit of that. Ride bikes- The Office - Sports-  Over thinker w/ a touch of western.',
 'Dad, husband, paramedic, adaptive cyclist.',
 '|Artist|Art Educator|Husband|Father|Cyclist|Hiker|',
 nan,
 'Wife. ‚ù§Ô∏è Physician. üë©üèº\u200d‚öïÔ∏è WVSOM Alumnaüë©\u200düéì Women‚Äôs Health and LGBT üè≥Ô∏è\u200düåà Advocate.',
 'Reshaping global credit markets with @Credix_finance.',
 'An amateur bicycle racing and touring team located in the Wash. DC Metro Area. Est 2013\n#phasecycling #pedalhardandstrongeveryday',
 'Grey meow meow with a big floofy tail. He/Him. Cis. Probably NSFW',
 '"Flip on your TV,\nAnd try to make sense out of that"\n-Daniel Johnston, üé∂Life in Vainüé∂',
 'Always look on the bright side of life!',
 'Transplant surgeon, dialysis access surgeon. when I‚Äôm not on a bike. or cooking dinner.',
 'Cyclist. Former Runner. Pug Lover. Oregon Duck.',
 'Tweets are my own, RT do not equal endorsements. Black Lives Matter. #NCState #TransportationNerd #LetsGoCanes',
 'üå±FBLC',
 'trying to make the most of it.',
 nan,
 'A.D.D. - Athlete, Dad, Designer',
 'Be a decent human. Retweeter / Science / Social justice / Animals /Empathy #BLM #IStandWithUkraine',
 nan,
 nan,
 'Nerd. Runner. Cycle from A to B. Father of two.',
 'history PhD, Harvard-Westlake School, KidUnity co-dir, endurance athlete, father of 3 (any views expressed here are my own)',
 'husband || father || ‚òïÔ∏è ‚ù§Ô∏è || healthy lifestyles || healthy city || wannabe photographer',
 'i apologize in advance',
 'Vermonter in NC, retired lowest-league soccer player, typo GOAT, cleanest but slowest cyclist ever paid by USPS',
 'Chicago cat snuggler, bike rider, baby catcher, recovering improviser, loud laugher, nap taker. word nerd. Amazon in training. she/her',
 'husband, father, cyclist, practitioner of the Idaho stop',
 'Scientist, innovator, teacher, nerd, and overall badass. I strongly prefer facts, data, and science over conspiracy theories.',
 'Just your normal guy who loves hockey, comics and cycling. He/Him',
 'Principal and leadership coach: leadership for social justice and school & community partnerships',
 'Y ahora que hacemos? cyclocross?',
 "Dad...Husband...Gamer...Cyclist...Skier. Motto.....Don't be a dick.",
 nan,
 'An imperfect person loved by a perfect God and a pretty great wife. Very geeky about sports tech and two wheeled fun. Former RCEP and CSCS.\nLifelong Cyclone.',
 'Take yourself on a ride with Bike Fun. Lessons, classes, encouragement & expertise for riders of all ages & abilities. Experience joy again. üö≤ üòç',
 nan,
 'Historian, teacher, writer, slow cyclist, mediocre soccer coach. Books: Mainstreaming Fundamentalism (2021); Civil Religion and American Christianity (2020)',
 'Single-Speed Mountain Biker |  1/6th IronMan | @PMBIAssociation Certified Instructor',
 '@moonlight_speed Super Late Builder | Real Life Racer | 2021 Motor Mile Speedway Track Champion | check out @H52Photography',
 'Creating clarity from chaos | Dad, Husband | Python, Ruby, Rails, React | Process Lover | Getting a lil better each day | /G\\',
 nan,
 'Brew Man',
 'Simpsons did it.',
 'Husband, dad, cyclist, InfoSec Professional and an ü¶ß, $BBIG, $SPY Options',
 'Coowner of @moonlight_speed - trying to drive cars fast on @iracing for MLS and @lunatikracing',
 'Fitness, Fellowship, & Faith coming to Morganton 9/25/21.  Free outdoor workouts for all men',
 nan,
 '@UChicago polisci grad student - IR, formal theory. PGH sports and blue devil basketball. Other interests include bikes, (coffee) beans, and beats',
 'Caraque√±o',
 'Rider of bikes, and drinker of beer. I like to be liked, but I‚Äôm kinda dumb.',
 'Have a weakness for shoes? So do we.',
 'Cycling event management & promotion (Dirty Kitten Productions) Alex & Chris Howell üö¥üèª\u200d‚ôÄÔ∏èüò∫üö¥üèª\u200d‚ôÇÔ∏è #dirtykittengravel #ridedirty',
 'Digital-first but still love a commercial shoot with all the bells and whistles. President @findcurrency | Partner @entcanada | Ads for PM Harper',
 'Group rides. Made easy. Manage or find a cycling group ride in your local area fast & easy!',
 'he/him/his : Part Animal. Part Machine. All Nerd.',
 'We Ride 4 is a non-profit cycling club full of active cyclist who support youth-based organizations. Visit our web site to learn more and become a member',
 'Sun child of the Zodiac. Don‚Äôt bring any bullshit into my wheelhouse. Raised my daughters to be warriors. Raised my son to worship women.',
 'Bike nomad, boycotting fossil-fuels, working on reforestation and ancient woodland restoration as co-founder of @ProtectEarthUK. he/him',
 '#CarolinaGirl #Momof2 #oneboy #onegirl #beachlife #OccupationalTherapist #LymphedemaTherapist #MelanomaSurvivor \n#TarHeels #UNCBBall #CarolinaPanthers',
 nan,
 'Senior Director of Education Partnerships & Learning Solutions at  @P20Network & @NIUCOE @NIULive | Previous-Teacher, Principal, Asst Supt | (he/him)',
 'In 27 minutes, enough solar energy strikes the Earth to meet all forms of energy usage in the world for a year.',
 'Pastor, Husband of Sherree, Father to Zack, Meg, & Nate. Follower of Christ.',
 'Cyclist. Prairie enthusiast. 2022 Kuat ambassador.',
 'Director @PeterCullenPCT, Founder Aither Pty Ltd, Founder Alluvium Consulting',
 'üÖûüÖ°üÖñüÖêüÖùüÖûüÖúüÖîüÖ£üÖêüÖõüÖõüÖòüÖíüÖ¢... Lecturer in Inorganic Chemistry at @UniofLeicester @LeicesterChem',
 'Software engineer @growers_ . Retired Marine. Former racer. Huge Caniac for @canes! Husband to @ddclarkie. https://t.co/AbkJmg9XE5. Opinions are my own',
 '#tweetiatrician @UVA 2017, @EVMSedu 2022, PL1 @BearResident, @AmerMedicalAssn @AAPSOPT. He/Him üåà',
 'Peds urologist in LA- Fellowship PD, LGBT+ representation in surgery. Views my own. Obsessive movie/TV/podcast fan. Podcast producer. üè≥Ô∏è\u200düåàüë®üèº\u200dü§ù\u200düë®üèª',
 'Married with kids. Ride @trekbikes running @shimanogravel using @wahoofitness wearing @ridgesupply socks and kit #traveltheworld #skithewest',
 'Weichert Realtors\n121 N. Pitt St. Alexandria, VA 22314\nOffice - (703) 549- 8700\nDirect Line - (703) 936-7176\nHusband, Father, Trail Runner, Wino, fan of History',
 'All things #cycling',
 "I don't like complaining, but sometimes I have to.",
 'Cyclist for @BorntoBikeRT, does a bit of cooking occasionally. üá¨üáß',
 'teacher | learner | Building a network of people invested in peddling possibility üåç | Follow me for tweets about teaching, leading and growing ideas',
 "I'm a Systems Engineer. Passionate about Technology, Digital Marketing and Programming. Fascinated by Fashion and Makeup.",
 '#VLSI ninja. @CvilleRacing club president. I made grilled cheese on the radiator.',
 '~ Adventurer and Chronicler of thoughts, finding my way through the vastness that is the world.... be it the WWW or that of reality and physicality?',
 'Committed to building cycling in our communities near and far. @manukasport @Capitalortho1 @corona @mecuanywhere @hirobelLLC IG: VelovitRacing',
 nan,
 nan,
 'Husband, Father of 3, Pastor of Lifepoint Church, mountain biker, apple addict, crossfitter, sneakerhead, and Friend of God!',
 'Go to our Facebook and win a swanky prize: https://t.co/sRwfULT8Qe',
 'Detroit, Michigan State, THFC, Music. Probably really mostly dogs if we‚Äôre being honest.',
 'Pedalo cercando di non farmi schiacciare. Non sempre √® una metafora.',
 'padres - bikes - cats',
 'F1 Engineer and Crufts Flyball finalist',
 '2021 Welsh 10mTTChamp | 2013 Silver RTTC Circuit Series | 2018/2019/2021 Welsh Womens 3 Distance 25, 50 & 100m BAR Champ | Womens Team Comp Record 2018 25m TT',
 'I‚Äôm just your average 51 year old gravel riding Dad. Follow me as I battle laziness, bad diet and a desk job, one kilometer at a time.',
 '‚òïÔ∏è | üöµ\u200d‚ôÇÔ∏è | üì∑ |üç∫ I ride bikes!',
 nan,
 'Life Begins Just Outside Your Comfort Zone. Husband, Endurance Junkie, Mobility Planner,  Business Owner - Send It!  #rouleur #IFB',
 'We are a beer and bicycle social club.',
 'Just a guy on a bike',
 'Pronoun: ‚ÄòNot him again‚Äô BA Hons MPhil Criminology Ironman Manc Jew Zionist humanist SheffHallam/Cambridge MCFC ASMR BlackDog Epilepsy üáÆüá±üá¨üáßüáßüá∑üèä\u200d‚ôÇÔ∏èüö¥üèº\u200d‚ôÇÔ∏è',
 'Agent, Lawyer, Husband, Father, Dog Owner',
 nan,
 'God save the King ......',
 nan,
 'Climbing Mountains and turning around \n.',
 nan,
 nan,
 'Virginia Cyclocross Series information',
 nan,
 nan,
 'father, husband, CEO, raised over 10,000 donations for Give Blood & DKMS. Rode all of The Tour De France & delivered over ¬£1.1m+ for Cure Leukaemia #Tour21 .',
 'rides a bike.',
 'Former boss of USGPcx and many other fun things. Bike Marketing, Ocean Loving. Adventure seeking. All opinions are strictly my own.',
 'A Sikh who follows Wigan rugby league. Love snow and XC ski-ing.',
 nan,
 'Author of What Goes Around (Faber, 2016) and Where There‚Äôs A Will (Profile, 2019). Lead Cyclist for @rideleloop. Usually hungry. She/her.',
 'Family. 50K: X2; 26.2: X9; 30K: X3; 13.1: X14. Amb: @nuunhydration, @HoneyStinger, @PROcompression, @squirrelsnutbut, @AltraRunning, @ROADiD, #teamULTRA',
 'Cyclist, football fan, music lover, family man.',
 'You must be this tall to read this feed.',
 'Father, dreamer, athlete, entrepreneur, audiophile, mediocre musician. @find_empathy',
 'long toothed health care worker, self determination and sun.',
 'Top 0.1% on https://t.co/j5xrCT922H.',
 'Love cycling,family,holidays,hate being bored,cycling,other activities are available!!!!',
 nan,
 '\U0001fae7',
 'Healthy workplace advocate, passionate about üö¥\u200d‚ôÄÔ∏è, health behaviour, üêß & ü¶¢. UCI Amateur World ITTü•à(2017)ü•â(2021). Opinions my own. Personal account.',
 nan,
 'Dad to Jessica, cycling addict',
 'Cabr√≥n, pero de buen coraz√≥n.',
 'Incapaz de conducir con sandalias, lavar cubiertos y comer elotes',
 'Film Colourist / NZ Born / Bikes / Coffee / He / Him / Dad / Cat Stepdad',
 'Still looking for the orange one',
 'Just a guy on a mission to find a cure for MS. #BikeMS #TeamMcCloy2022 #RSArsenal #NuunAmbassador #RidePactimo',
 "Husband, Father, Programmer, Marine, Weightlifter, Hiker.\n\nJaguars fan since 1995, yeah yeah, i'm old.",
 'Rugby player + Air Ambulance = Retired. Cycling and running going better to date üòú',
 'üá∫üá∏Husband-Dad-Brother-Believer Mtn. Bike & Triathlon Enthusiast. 40+ feelin‚Äô like 20-',
 nan,
 '"A Y U N A N D O"',
 'Landscape architect, bicycle advocate, home brewer, road cyclist, explorer of life',
 nan,
 'Lazer Sport North America\nBest Fit - Guaranteed or your money back!',
 'Fugly ginger that loves family, friends, and big adventures!',
 'Chartered Financial Planner, loves cycling. Views are my own.',
 'Fundraising by turning old inner tubes, coffee sacks and other waste materials into gorgeous stuff and creating a cycle of good in the meantime.',
 'Royal Navy veteran / @RNRMCA / One & All CC / Yorkshire Born / Cornish by marriage /',
 nan,
 nan,
 'Wife of a Marine, Mom of amazing twin girls. Photographer, Director of customer service experience at #Photofy, Die hard Steelers Fan! #LetsGoPens Send Coffee!',
 'contumacious, Madman.',
 'AMERICAN üá∫üá∏ born n raised. It‚Äôs a Southern thing. USA üíØ things, things, things... üö¥üèºüöµüèºüéæüèãüèº\u200d‚ôÄÔ∏èüõ´ #MAGA #ReElect45 supporter. Welcome to Trumplandia',
 '@nascarevolution (coordinator) - GLOBAL üìπü•à7Ô∏è‚É£0Ô∏è‚É£üõ¥ @the270montage_ The270montage@gmail.com üëª-gentry123 - @ctrl.alt.offical - DJ - Addy guy - SAV',
 nan]

In [23]:
import nltk

ModuleNotFoundError: No module named 'nltk'